<div id="page">
  <div class="content">
    <mat-card>
      <mat-card-title>
        Item Management
      </mat-card-title>
      <mat-card-content class="item-bestand-container">
        <table mat-table [dataSource]="dataSource" class="item-bestand-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item" class="column">
              <span *ngIf="!item.edit_enabled; else nameEdit">{{item.name}}</span>
              <ng-template #nameEdit>
                <input class="inputCol" matInput type="text" [value]="item.name" (change)="item.name = $event.target.value">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="base_price">
            <th mat-header-cell *matHeaderCellDef>Base Price</th>
            <td mat-cell *matCellDef="let item" class="column">
              <span *ngIf="!item.edit_enabled; else basePriceEdit">{{item.base_price}}</span>
              <ng-template #basePriceEdit>
                <input class="inputCol" matInput type="number" [value]="item.base_price" (change)="item.base_price = $event.target.value">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="range_lower">
            <th mat-header-cell *matHeaderCellDef>Mutliplier From</th>
            <td mat-cell *matCellDef="let item" class="column">
              <span *ngIf="!item.edit_enabled; else rangeLowerEdit">{{item.range_lower}}</span>
              <ng-template #rangeLowerEdit>
                <input class="inputCol" matInput type="number" [value]="item.range_lower" (change)="item.range_lower = $event.target.value">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="range_upper">
            <th mat-header-cell *matHeaderCellDef>Mutliplier To</th>
            <td mat-cell *matCellDef="let item" class="column">
              <span *ngIf="!item.edit_enabled; else rangeUpperEdit">{{item.range_upper}}</span>
              <ng-template #rangeUpperEdit>
                <input class="inputCol" matInput type="number" [value]="item.range_upper" (change)="item.range_upper = $event.target.value">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let item" class="column">
              <span *ngIf="!item.edit_enabled; else quantityEdit">{{item.quantity}}</span>
              <ng-template #quantityEdit>
                <input class="inputCol" matInput type="number" [value]="item.quantity" (change)="item.quantity = $event.target.value">
              </ng-template>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let item">
              <button mat-mini-fab color="warn" title="Delete item" (click)="deleteItem(item.uuid)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-mini-fab color="primary" title="Edit item" (click)="editItem(item.uuid)" *ngIf="!item.edit_enabled">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="primary" title="Save item" (click)="saveItem(item.uuid)" *ngIf="item.edit_enabled">
                <mat-icon>done_all</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[13]" showFirstLastButtons></mat-paginator>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab color="accent" (click)="addItem()">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
