<mat-card class="shop-content">
  <mat-card-title>
    <span>Shop</span>
  </mat-card-title>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>
    <mat-list>
      <mat-list-item *ngFor="let item of (items$ | async)">
        <mat-icon mat-list-icon>api</mat-icon>
        <div mat-line>{{item.name}}</div>
        <div mat-line>
          <span class="gold-number spacer">{{convertPrice(item.base_price)[0]}}G</span>
          <span class="silver-number spacer">{{convertPrice(item.base_price)[1]}}S</span>
          <span class="copper-number spacer">{{convertPrice(item.base_price)[2]}}C</span>
        </div>
        <div class="spacer">{{item.quantity}}x</div>
        <div><button mat-button color="warn"><mat-icon>payments</mat-icon></button></div>
      </mat-list-item>
    </mat-list>
  </mat-card-actions>
</mat-card>
